#quiz{
    display: none;
    padding: 20px;
    background-color: paleturquoise;
  }

  h1 {
    text-align: center;
    color: royalblue;
    
  }
  
  #hide{
    display: none;
    
    
  }
  #answers{
    display: none;
   
  }